html, body {
    height: 100vh; 
    margin: 0;
    background: #0e0e0e;
    font-family: "Arial", sans-serif;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Adicione esta linha: */
    height: 100%; 
}


.left-area {
    width: 45%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}

.grupo-linhas {
    position: absolute; 
    z-index: 0; 
    width: 100%; 
    top: 0; 
    left: 0; 
    overflow: hidden;
    height: 100%; 
}

.grupo-linhas img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.phone-box {
    width: 100%;
    z-index: 10; 
    position: relative;
    left: 13vh;
}

.phone-img {
    width: 60%;
}

.description {
    z-index: 10; 
    position: relative;
        margin-top: 40px;
    width: 380px;
    background: rgba(0, 0, 0, 0.45);
    padding: 20px;
    border-radius: 12px;
    font-size: 15px;
    line-height: 22px;
}


.form-area {
    width: 50%;
    /* CORREÇÃO 2: Fazer a form-area pegar a altura total do container */
    height: 100%; 
    /* background-color: violet; */
    /* CORREÇÃO 3: Ajustar box-sizing para o padding não criar uma barra de rolagem */
    box-sizing: border-box; 
}

/* Área geral do formulário */
.form-container {
    display: flex;
    flex-direction: row;
    gap: 30px;   /* espaço entre os dois blocos */
    width: 100%;
}

/* Bloco 1 */
.parte-1 {
    background: #141414;
    padding: 25px;
    border-radius: 14px;
    border: 1px solid #222;
}

/* Bloco 2 */
.parte-2 {
    background: #141414;
    padding: 25px;
    border-radius: 14px;
    border: 1px solid #222;
}

/* Ajuste dos títulos quando existirem */
.parte-1 h1 {
    margin-top: 0;
}


h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 25px;
}

.tipo-usuario {
    margin-bottom: 20px;
    font-size: 15px;
}

.tipo-usuario label {
    margin-right: 30px;
    cursor: pointer;
}

span {
    font-size: 14px;
}

.input {
    background: #1a1a1a;
    border: 1px solid #333;
    border-radius: 10px;
    padding: 12px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.input input {
    width: 100%;
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 15px;
}

select {
    width: 100%;
    background: #1a1a1a;
    border: 1px solid #333;
    border-radius: 10px;
    padding: 12px;
    color: white;
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 15px;
}

.btn {
    width: 100%;
    background: linear-gradient(90deg, #3b3b3b, #1f1f1f);
    border: 1px solid #444;
    padding: 15px;
    border-radius: 12px;
    font-size: 17px;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    transition: .2s;
}

.btn:hover {
    background: linear-gradient(90deg, #555, #2c2c2c);
}

.login-text {
    margin-top: 18px;
    font-size: 14px;
}

.login-text a {
    color: #7aa2ff;
    text-decoration: none;
}