@import url("./variaveis/variaveis-nexus.css");
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Chewy&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Keania+One&family=Lalezar&family=League+Gothic&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Chewy&family=Cinzel:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Keania+One&family=Lalezar&family=League+Gothic&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    font-family: var(--font-family-texts);
    transition: all .6s ease-in-out;

}

body {
    background: #212121;
    margin: auto;
    color: white;
    display: flex;
    flex-direction: row;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 5vh;
    padding-right: 5vh;
    justify-content: center;
    align-items: center;
}

nav {
    width: 40vh;
    height: 80vh;
    background: linear-gradient(to bottom, #1F1F1F, #111111);
    padding: 3vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.navHora {
    width: auto;
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navData {
    width: auto;
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navLinks {
    width: auto;
    margin-top: 10vh;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    justify-content: center;
    align-items: center;
}

.navLinks a {
    color: white;
    text-decoration: none;
    border-bottom: 0.3vh solid transparent;
    transition: width 1s ease,
                border-bottom-color 0.6s ease,
                transform 0.6s ease;
}

.navLinks a:hover {
    width: 50%;
    border-bottom-color: white;
    transform: scale(1.03);
}


.navLinksLogo {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1vh;
    font-family: "Inter";
}

.navUserInfo {
    width: 100%;
    margin-top: auto;
    display: flex;
    flex-direction: row;
    gap: 2vh;
    justify-content: center;
}

nav button {
    background: none;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.navExit {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    font-size: 0.8rem;
    gap: 1vh;
}

.graficosContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
    flex-wrap: wrap;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.graficosSup {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5vh;
    padding-left: 9.5vh;
    flex-wrap: wrap;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.graficosMid {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    flex-wrap: wrap;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.graficosInf {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    flex-wrap: wrap;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.graficosSupDash {
    width: 25%;
    height: 20vh;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2vh;
    gap: 2vh;
    color: #808080;
    background: linear-gradient(to right, #111111, #1F1F1F);

}

.infoSup {
    width: 100%;
    font-size: 1.3rem;
    display: flex;
    gap: 5vh;
    justify-content: center;
    align-items: center;
}

.infoSup img {
    width: 1rem;
    height: 1rem;
}

.infoJogador {
    font-size: 2.4rem;
    color: white;
}

.infoValor {
    font-size: 1.3rem;
    color: white;
}

.graficosMid {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 3vh;
    padding-left: 9.5vh;
}

.graficosMid1 {
    width: 50%;
    height: 30vh;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2vh;
    color: #808080;
    background: linear-gradient(to right, #111111, #1F1F1F);
}

.graficoMidBarra {
    width: 100%;
    height: 100%;
}

.graficoMidPizza {
    width: 100%;
    height: 100%;
}

.graficosMid2 {
    width: 30%;
    height: 30vh;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2vh;
    gap: 2vh;
    color: #808080;
    background: linear-gradient(to right, #111111, #1F1F1F);
}

.graficosInf {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 10vh;
}

.graficosInfDash {
    width: 25%;
    height: 20vh;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2vh;
    gap: 2vh;
    color: #808080;
    background: linear-gradient(to right, #111111, #1F1F1F);

}

.infoInf {
    width: 100%;
    font-size: 1rem;
    display: flex;
    gap: 5vh;
    justify-content: center;
    align-items: center;
}

.infoInf img {
    width: 1rem;
    height: 1rem;
}

.infoJogadorInf {
    font-size: 2.4rem;
    color: white;
}

.graficosInfDash1 {
    width: 30%;
    height: 20vh;
    border-radius: 15px;
    background-color: white;
    color: black;
    font-family: "Inter";
    padding: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.graficoInfTitulo {
    font-size: 0.9rem;
    margin-bottom: 1vh;
}

.graficoInfTopJogador {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.topJogadorInfo {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.topNomeJogador {
    margin-left: 1vh;
}

.topJogadorData {
    display: flex;
    justify-content: flex-end;
    color: #808080;
    font-size: 0.8rem;
}

.graficoInfTopJogador img {
    width: 2rem;
    height: 2rem;
}

/* .infoJogadorDetalhes,
.infoJogadorDetalhesItem {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Inter';
    /* background: linear-gradient(to right, #d0a259, #805c1f); */
/* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }*/


.infoJogadorDetalhesItem {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
}


/* #d0a259 #805c1f */


@media (max-width: 1024px) {
    body {
        flex-direction: column;
        align-items: center;
        gap: 4vh;
        padding: 5vh;
    }


    nav {
        width: 90%;
        height: auto;
    }


    .graficosSupDash,
    .graficosMid1,
    .graficosMid2,
    .graficosInfDash,
    .graficosInfDash1 {
        width: 45%;
    }
}

@media (max-width: 768px) {
    nav {
        width: 100%;
    }


    .navLinks {
        margin-top: 4vh;
        gap: 3vh;
    }


    .graficosSupDash,
    .graficosMid1,
    .graficosMid2,
    .graficosInfDash,
    .graficosInfDash1 {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        right: 20px;
    }

    .graficosInf{
        position: relative;
        left: 52.5px;
    }

}

@media (max-width: 480px) {
    nav{
        position: relative;
        left: 25px;
    }

    body {
        padding: 2vh;
    }


    .navHora {
        font-size: 1.8rem;
    }


    .graficosSupDash,
    .graficosMid1,
    .graficosMid2,
    .graficosInfDash,
    .graficosInfDash1 {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        right: 1px;
    }

    .infoJogador,
    .infoJogadorInf {
        font-size: 2rem;
    }
}