@import url("./variaveis/variaveis-nexus.css");
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Chewy&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Keania+One&family=Lalezar&family=League+Gothic&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    font-family: var(--font-family-texts);
    transition: all .6s ease-in-out;

}

body {
    background: #212121;
    margin: auto;
    color: white;
    display: flex;
    flex-direction: row;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 5vh;
    padding-right: 5vh;
    justify-content: center;
    align-items: center;
}

nav {
    width: 37vh;
    height: 80vh;
    background: linear-gradient(to bottom, #1F1F1F, #111111);
    padding: 3vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-right: 2vh;
}

.navHora {
    width: auto;
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navData {
    width: auto;
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navLinks {
    width: auto;
    margin-top: 10vh;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    justify-content: center;
    align-items: center;
}

.navLinks a {
    color: white;
    text-decoration: none;
}

.navLinks a {
    border-bottom: 0.3vh solid transparent;
    transition: border-bottom-color 0.3s ease, transform 0.3s ease;
}

.navLinks a:hover {
    transform: scale(1.02);
    border-bottom-color: white;
}


.navLinksLogo {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1vh;
    font-family: "Inter";
}

.navUserInfo {
    width: 100%;
    margin-top: auto;
    display: flex;
    flex-direction: row;
    gap: 2vh;
    justify-content: center;
}

nav button {
    background: none;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.navExit {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    font-size: 0.8rem;
    gap: 1vh;
}


.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding: 5vh;
}

.top-section {
    display: flex;
    gap: 3vh;
}

.circle {
    width: 23vh;
    height: 23vh;
    background: #D9D9D9;
    border-radius: 50%;
    position: relative;
}

.edit-btn {
    position: absolute;
    bottom: 1vh;
    right: 1vh;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 50%;
    padding: 0.9vh;
    cursor: pointer;
}

.personal-data {
    padding: 2vh;
}

.box-rank {
    background-color: #D9D9D9;
    color: black;
    padding: 2vh;
    border-radius: 1vh;
    width: 96vh;
    height: 12vh;
}

.rank {
    padding: 1vh;
    border-radius: 1vh;
    display: flex;
    justify-content: space-between;
    margin-top: 1vh;
    width: 90vh;
}

.sub {
    display: flex;
    justify-content: flex-end;
    color: #808080;
}

.box-bio p{
    padding: 1vh;
}

textarea {
    height: 30vh;
    border-radius: 1vh;
    width: 96vh;
    color: white;
    background: linear-gradient(to right, #111111, #1d1d1d);
}

textarea::placeholder{
    padding: 1vh;
    
}

select {
    width: 100%;
    height: 8vh;
    margin-bottom: 2vh;
    border-radius: 1vh;
    border: none;
    background: #252525;
    color: white;
}

input {
    width: 100%;
    height: 6vh;
    padding: 2vh;
    margin-bottom: 2vh;
    border-radius: 1vh;
    border: none;
    background: #252525;
    color: white;
}

.form-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150vh;
    height: 55vh;
    background: linear-gradient(to right, #111111, #1d1d1d);
    border-radius: 1vh;
    padding: 5vh;
}

.save-btn {
  margin-top: 2vh;
  border: none;
  padding: 2vh;
  background: #D9D9D9;
  border-radius: 1vh;
}

.save-btn:hover {
  background: #555;
  color: white;
}