@import url("./variaveis/variaveis-nexus.css");
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Chewy&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Keania+One&family=Lalezar&family=League+Gothic&family=Orbitron:wght@400;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Sofia+Sans:wght@100;900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    font-family: var(--font-family-texts);
    transition: all .6s ease-in-out;

}

body {
    background: #212121;
    margin: auto;
    color: white;
    display: flex;
    flex-direction: row;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 5vh;
    padding-right: 5vh;
    justify-content: center;
    align-items: center;
}

nav {
    width: 40vh;
    height: 80vh;
    background: linear-gradient(to bottom, #1F1F1F, #111111);
    padding: 3vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.navHora {
    width: auto;
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navData {
    width: auto;
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navLinks {
    width: auto;
    margin-top: 10vh;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    justify-content: center;
    align-items: center;
}

.navLinks a {
    color: white;
    text-decoration: none;
    border-bottom: 0.3vh solid transparent;
    transition: width 1s ease,
                border-bottom-color 0.6s ease,
                transform 0.6s ease;
}

.navLinks a:hover {
    width: 50%;
    border-bottom-color: white;
    transform: scale(1.03);
}


.navLinksLogo {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1vh;
    font-family: "Inter";
}

.navUserInfo {
    width: 100%;
    margin-top: auto;
    display: flex;
    flex-direction: row;
    gap: 2vh;
    justify-content: center;
}

nav button {
    background: none;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.navExit {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    font-size: 0.8rem;
    gap: 1vh;
}

.graficosContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
    flex-wrap: wrap;
    overflow-wrap: break-word;
}

.barraPesquisa {
    width: 80%;
    height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5vh;
}

.barraPesquisa input {
    width: 100%;
    height: 100%;
    border-radius: 1.5vh;
    border: none;
    padding-left: 2vh;
    font-size: 1rem;
}

.barraPesquisa button {
    height: 100%;
    padding: 0 2vh;
    border-radius: 1.5vh;
    border: none;
    background: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.barraPesquisa button img {
    width: 2.2vh;
    height: 2.2vh;
}

.botaoBusca {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
}

.botaoBusca img {
    width: 24px;
    transition: all 0.2s ease;
}

.botaoBusca:hover {
    background-color: #e0e0e0;
    border-radius: 6px;
}

.botaoBusca:hover img {
    transform: scale(1.2);
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0) contrast(100%);
}

.containerInformacoes {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
}

.filtrosRanking {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vh;
    font-size: 1.6rem;
}

.filtrosRanking select {
    height: 5vh;
    border-radius: 1.5vh;
    border: none;
    padding: 0 2vh;
    font-size: 1rem;
    cursor: pointer;
}

.rankingContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

.dadosJogadores {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    max-height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #666 #1f1f1f;
}

.dadosJogadores::-webkit-scrollbar {
    width: 0.8vh;
}

.dadosJogadores::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 1vh;
}

.dadosJogadores::-webkit-scrollbar-track {
    background: #1f1f1f;
    border-radius: 1vh;
}

.cabecalhoTabelaRanking,
.linhaTabelaRanking {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    min-height: 9vh;
    background-color: #1F1F1F;
    border-radius: 10px;
}


.cabecalhoTabelaRankingNumero,
.linhaTabelaRankingNumero {
    flex: 0 0 8%;
    justify-content: center;
    display: flex;
    font-size: 1em;
}

.cabecalhoTabelaRankingNome,
.linhaTabelaRankingNome {
    flex: 0 0 25%;
    justify-content: center;
    display: flex;
    font-size: 1em;
}

.cabecalhoTabelaRankingElo,
.linhaTabelaRankingElo {
    flex: 0 0 15%;
    justify-content: center;
    display: flex;
    font-size: 1em;
}

.cabecalhoTabelaRankingCampeoes,
.linhaTabelaRankingCampeoes {
    flex: 0 0 25%;
    justify-content: center;
    display: flex;
    gap: 1vh;
    font-size: 1em;
}

.linhaTabelaRankingCampeoes img {
    width: 5vh;
    height: 5vh;
    border-radius: 1vh;
}

.cabecalhoTabelaRankingWinrate,
.graficoWinrate {
    flex: 0 0 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.graficoWinrate {
    height: 4vh;
    width: 80%;
}

.graficoWinrate canvas {
    width: 100% !important;
    height: 100% !important;
}

.resultadoBusca {
    position: absolute;
    top: 18vh;
    width: 40%;
    margin-right: 5%;
    max-height: 30vh;
    background-color: #1a1919;
    border-radius: 1vh;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #666 #1f1f1f;
    z-index: 1000;
}

.barraPesquisa-linhaResultado {
    width: 100%;
    padding: 1vh;
    border-bottom: 0.1vh solid #333;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 1vh;
}

.barraPesquisa-nomeJogador,
.barraPesquisa-eloJogador,
.barraPesquisa-top3campeoes {
    font-size: 1rem;
}

.barraPesquisa-top3campeoes {
    display: flex;
    gap: 0.5vh;

    img {
        width: 4vh;
        height: 4vh;
        border-radius: 0.5vh;
    }
}

@media (max-width: 1024px) {
    body {
        flex-direction: column;
        align-items: center;
        gap: 4vh;
    }


    nav {
        width: 90%;
        height: auto;
    }


    .resultadoBusca {
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
    }


    .cabecalhoTabelaRanking,
    .linhaTabelaRanking {
        width: 95%;
    }
}


@media (max-width: 768px) {
    nav {
        width: 100%;
    }


    .barraPesquisa {
        width: 95%;
    }


    .resultadoBusca {
        width: 90%;
    }


    .cabecalhoTabelaRanking,
    .linhaTabelaRanking {
        font-size: 0.7rem;
        flex-wrap: nowrap;
        height: auto;
        padding: 1vh;
        width: 100%;
    }


    .cabecalhoTabelaRankingCampeoes,
    .linhaTabelaRankingCampeoes {
        flex: 0 0 40%;
    }

    .cabecalhoTabelaRankingWinrate {
        position: relative;
        right: 50px;
    }
}


@media (max-width: 480px) {
    body {
        padding: 2vh;
    }


    .navHora {
        font-size: 1.8rem;
    }


    .barraPesquisa {
        width: 100%;
    }

    .resultadoBusca {
        width: 100%;
    }

    .cabecalhoTabelaRanking,
    .linhaTabelaRanking {
        flex-direction: column;
        gap: 1vh;
        text-align: center;
    }

    .cabecalhoTabelaRankingWinrate {
        position: relative;
        left: 0px;
    }


    .linhaTabelaRankingCampeoes img {
        width: 4vh;
        height: 4vh;
    }
}